body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    /* background-color: #f2f2f2; */
    background-image: url(./images/sky.png), url(./images/mountain-png-21331.png);
    background-size: cover;
    background-position: unset, 0 30%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    transition: 0.3s !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 7px 11px rgba(0, 0, 0, 0.1);
    width: 370px;
    height: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.gohome-btn {
    position: relative;
    top: 10%;
    right: 5%;
}

.gohome-btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gohome-btn-container .gohome-btn {
    font-size: 21px;
    padding: 2%;
    color: #fff;
    background-color: #4CAF50;
    text-decoration: none;
}

.gohome-btn-container .gohome-btn:hover {
    background-color: #38863b;
}