:root {
    --blue-color:  #0d85b4;
    --white-color: #fff;
    --gray-color: #ddd;
    --green-color: #35bd29;
    --dark-green-color: #2aa31f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: linear-gradient(45deg, var(--blue-color) 50%, var(--white-color) 50%);
    height: 90vh;
    padding: 3%;
}

.container h1 {
    font-size: 37px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3%;
}

form .first-half {
    display: flex;
}

form .first-half .input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* margin-top: 1%; */
    margin-right: 1%;
}

form .first-half .input-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form .first-half .input-container div button {
    padding: 1%;
    background-color: var(--green-color);
    color: var(--white-color);
    border: none;
    outline: none;
    height: 100%;
    flex: 1;
    cursor: pointer;
    transition: 0.1s;
}

form .first-half .input-container div button:hover {
    background-color: var(--dark-green-color);
}

form label {
    font-size: 22px;
    font-weight: 700;
    overflow-x: auto;
    overflow-y: auto;
    height: 50px;
}

form label span {
    padding: 1%;
    background-color: var(--gray-color);
    border-radius: 30px;
}

form input, form textarea {
    font-size: 17px;
    border: 1px solid #000;
    outline: none;
    font-family: cursive, 'Courier New', Courier, monospace;
}

form .first-half input {
    padding: 1%;
    flex: 5;
}

form .second-half {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

form .second-half textarea {
    padding: 1%;
    outline: none;
}

form button[type="submit"] {
    margin-top: 1%;
    padding: 1%;
    font-size: 19px;
    font-weight: 600;
    width: 30%;
    margin: auto;
    margin-top: 1%;
    background-color: var(--green-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

form button[type="submit"]:hover {
    background-color: var(--dark-green-color);
}

/* form .first-half  {

} */