*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
nav{
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;

}
.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 50px;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.menu{
    text-decoration: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.menu a{
    text-decoration: none;
    color: white;
}
.hero_section{
    width: 100vw;
    height: 70vh;
    background-color: white;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}
.hero_section_left p{
    font-weight: 400;
    font-style: italic;
    font-weight: 600;
    text-align: center;
}
.hero_section_left h3{
    font-size: 45px;
    font-weight: 900;
}
.hero_section_right img {
    width: 200px;
    height: 250px;
    border-radius: 10%;
}
.hero_section_footer{
    width: 100vw;
    padding: 10px;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    flex-wrap: wrap;
} 

.arrange{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
.arrange_figure{
    font-size: 50px;
    font-weight: 800;
    margin-right: 5px;
}


/* ABOUT SECTION */
#About{
    width: 100vw;
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}
#About h1, .projects_header, .contact_header{
    font-size:2.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}
#About p {
    text-align: justify;
}

/* SKILLS */
.skills_header{
    font-weight: 800;
    margin-top: 20px;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.full_level{
    width: 250px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50px;
}
.html_level, .css_level, .javascript_level, .nodejs_level{
    height: 24px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 50px;
}
.html_level{
    width: 200px;
}

.css_level{
    width: 175px;
}

.javascript_level{
    width: 150px;
}

.nodejs_level{
    width: 125px;
} 

#Projects{
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
}
#Projects div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 20px;
}
#Projects div p {
    text-align: justify;
}

#Projects div a{
    text-decoration: none;
    color: white;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
#Projects div a:hover{
    background-color: whitesmoke;
}





.container{
    width: 100vw;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    height: fit-content;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    width: 100vw;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 20px;
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
    margin-bottom: 40px;
}
label{
    font-weight: lighter;
}
input{
    width: 300px;
    height: 35px;
    background-color: whitesmoke;
    border: none;
    border-radius: 2px;
    color: black;
    padding: 10px;
}
textarea{
    width: 300px;
    height: 300px;
    border: none;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
    padding: 10px;

}
button{
    width: 300px;
    height: 30px;
    background-color: black;
    color: white;
}

@media (max-width: 760px){
.hamburger {
    margin-right: -5px;
    display: block;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}
#navbarLinks {
    left: 100%;
    top: 10%;
    display: none;
    flex-direction: column;
    background-color:  black;
    width: 100vw;
    height: auto;
    text-align: center;
    position: absolute;
}
#navbarLinks a {
    margin-right: 0px;
}
.nav-link {
    padding: 20px 0px;
    transition: 1s ease-in-out;
    margin: 10px 0;
}
.nav-link:hover{
    background-color: rgb(50, 48, 48);
}
#navbarLinks.active{
    left: 0%;
    top: 55px;
    display: flex;
    transition: 1s;
}
}